body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../assets/img/body_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

a {
    text-decoration: none;
}