<!DOCTYPE html>
<html lang="en">
<head>
    <title>Posts</title>
</head>
<body>
<h1>Hey</h1>
<hr>
<h4>Registration</h4>
<form action="/users/registration" method="post">
    Username: <input type="text" name="username"><br><br>
    Email: <input type="email" name="email"><br><br>
    Password: <input type="password" name="password"><br><br>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="submit" value="Зарегистрироваться"/>
</form>
</body>
</html>